.carousel-paris{
    width: 80%;
    margin: auto;
}

.carousel-item{
    h5{
        font-size: 48px;
        text-shadow: $sombra;
    }
    p{
        font-size: 24;
        text-shadow: $sombra;
    }
}